<AutomatedInstallation langpack="eng">
    <target.product>Control-M 9.0.18.200</target.product>
    <custom.suite.pg.connection.panel>
        <entry key="field.Host.Interface.Name" value="{{ __host_interface_name }}"/>
        <entry key="field.Database.Administrator.Password" value="!!!Us5nzf1yoXoGtApoNQBXyg=="/>
        <entry key="field.Host.Interface.Port.Number" value="5006"/>
        <entry key="field.System.Data.Directory.Full.Path" value="/opt/controlm/pgsql/data"/>
        <entry key="field.Create.Database.CJK" value="false"/>
    </custom.suite.pg.connection.panel>
    <custom.suite.db.credentials.panel>
        <entry key="field.em.Database.Owner.Password" value="!!!Us5nzf1yoXoGtApoNQBXyg=="/>
        <entry key="field.ctm.Database.Name" value="ctrlmdb"/>
        <entry key="field.em.Database.Name" value="emdb"/>
        <entry key="field.em.Database.Owner.Login" value="emuser"/>
        <entry key="field.ctm.Database.Owner.Login" value="ctmuser"/>
        <entry key="field.ctm.Database.Owner.Password" value="!!!Us5nzf1yoXoGtApoNQBXyg=="/>
    </custom.suite.db.credentials.panel>
    <custom.suite.parameters.panel>
        <entry key="field.Corba.Naming.Service.Port.Number" value="13075"/>
        <entry key="field.ControlMEM.Tcpip.Port.Number" value="2370"/>
        <entry key="field.Inter.Process.Communication.Port.Number" value="6005"/>
        <entry key="field.Tomcat.Service.Port.Number" value="18080"/>
        <entry key="field.Configuration.Agent.Port.Number" value="2369"/>
        <entry key="field.Server.To.Agent.Port.Number" value="7006"/>
        <entry key="field.Local.IP.Host.Interface.Name" value="{{ __host_interface_name }}"/>
        <entry key="field.Agent.To.Server.Port.Number" value="7005"/>
    </custom.suite.parameters.panel>
    <component.selection.panel>
        <entry key="is.advanced.selected" value="false"/>
        <entry key="is.ctm.selected" value="false"/>
        <entry key="is.secondary.selected" value="false"/>
        <entry key="is.suite.selected" value="true"/>
        <entry key="is.trial.selected" value="false"/>
        <entry key="is.agent.selected" value="false"/>
        <entry key="is.em.selected" value="false"/>
        <entry key="is.install.custom.suite" value="true"/>
    </component.selection.panel>
    <database.vendor.panel>
        <entry key="Selected.Database.Vendor.Type" value="PostgreSQL"/>
        <entry key="field.Database.Size" value="Large"/>
        <entry key="is.demo.data" value="true"/>
        <entry key="field.Database.Is.Rdb" value="false"/>
    </database.vendor.panel>
</AutomatedInstallation>
